.cmm-usa {
    display: none;
    margin: 0 auto;
    position: relative;
    padding: 10px;
}
.cmm-usa svg {
    width: 100%;
    z-index: 99;
}
.cmm-usa svg path {
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}
.cmm-usa-hover-state-info {
    display: none;
    position: absolute;
    top: 85%;
    left: 50%;
    box-sizing: border-box;
    margin-left: -150px;
    padding: 0.75em;
    width: 300px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0 0 20px #999;
    font-size: 14px;
    z-index: 100;
}
.cmm-usa-hover-state-info span {
    display: block;
    line-height: 1.5em;
}
.cmm-usa-hover-state-info span:first-child {
    font-weight: bold;
    text-align: center;
}
.cmm-usa-link-list {
    width: 95%;
}
.cmm-usa-link-list ul {
    vertical-align: top;
    list-style: none;
    display: inline-block;
    margin: 0;
    padding: 0;
}
.cmm-usa-link-list ul li {
    padding: 0.5em 0.25em;
}
.cmm-usa-link-list ul li span {
    display: inline-block;
    position: relative;
    height: 12px;
    width: 12px;
    border-radius: 12px;
    color: black;
    text-align: center;
    line-height: 12px;
    font-weight: bold;
    border: 1px solid #999;
    opacity: 1.0;
    margin-right: 0.5em;
}
.cmm-usa-link-list ul li span::after {
    content: "\2B9E";
    position: relative;
    color: #333;
    font-size: 12px;
}
.cmm-usa-title {
    width: 100%;
    text-align: center;
    font-weight: bold;
}
.cmm-usa-credit-link {
    text-align: center;
}